html {
  padding: 0%;
  margin: 0%;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #0F172A;
}

h1 {
  font-size: 2.5em;
  font-weight: 800;
  line-height: 120%;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
  line-height: 143%;
}

h3 {
  font-size: 1.33em;
  font-weight: 600;
}

body {
  box-sizing: border-box;
  width: 100%;
  margin: 0%;
}

header {
  margin-top: 0%;
  box-sizing: border-box;
  width: 100%;
  padding-inline: 3%;
  background: #F8FAFC;
}
header h1 {
  margin-top: 0%;
  margin-bottom: 0.1em;
  text-align: start;
}
header h2 {
  margin-top: 0.1em;
  margin-bottom: 0.75em;
  text-align: start;
}
header h2 #wat-header {
  font-style: italic;
}
header section#about-me-contacts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
header section#about-me-contacts article#about-me {
  text-align: start;
}
header section#about-me-contacts ul#personal-info {
  padding: 0%;
  margin-top: 0%;
  text-align: start;
}
header section#about-me-contacts ul#personal-info li {
  list-style-type: none;
}
header section#about-me-contacts ul#contacts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fill, minmax(1em, 1fr));
  -moz-column-gap: 0.5em;
       column-gap: 0.5em;
  row-gap: 0.5em;
  width: 50%;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
header section#about-me-contacts ul#contacts li {
  list-style-position: inside;
  align-self: stretch;
  white-space: nowrap;
}
header section#about-me-contacts ul#contacts li#email {
  list-style-image: url(Images/iconEmail.svg);
}
header section#about-me-contacts ul#contacts li#adress {
  list-style-image: url(Images/iconAdress.svg);
}
header section#about-me-contacts ul#contacts li#phone {
  list-style-image: url(Images/iconPhone.svg);
}
header section#about-me-contacts ul#contacts li#inter-exchange {
  list-style-type: none;
}
header section#about-me-contacts ul#contacts li#inter-exchange a {
  display: inline-block;
  height: 1em;
}
header section#about-me-contacts ul#contacts li#inter-exchange a img {
  position: relative;
  top: 2px;
  left: -1px;
  height: 100%;
  display: inline-block;
  text-align: start;
}

h2.section-name {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.75em;
  font-weight: 600;
}

main > section {
  padding-inline: 3%;
  margin-block: 2em;
}

main section#skills {
  margin-bottom: 0.5em;
}
main section#skills div#skill-boxes {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1em;
  padding-inline: 2.5rem;
}
main section#skills div#skill-boxes figure.skill {
  flex: 1 1 30em;
  box-sizing: border-box;
  margin: 0 1.5em 1.5em 0;
  padding: 0.25em;
  border: 2px solid #0F172A;
  border-radius: 0px;
  box-shadow: 0.2em 0.2em 0em 0em #0f172a;
}
main section#skills div#skill-boxes figure.skill h3 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 0em;
  margin-bottom: 0.5em;
  text-align: left;
  text-decoration: underline;
  font-weight: 700;
}
main section#skills div#skill-boxes figure.skill figcaption {
  text-align: justify;
  padding-left: 1em;
}
main section#work-experience section.work figure.header-caption h3 {
  font-weight: 600;
}
main section#work-experience section.work p {
  padding-inline: 2.5rem;
}
main section#personal section#info {
  padding-inline: 2.5rem;
  margin-top: 1em;
}
main section#personal section#info ul {
  margin-top: 0%;
  padding: 0%;
}

figure.header-caption {
  margin-inline: 0%;
  margin-bottom: 1.25em;
  padding-inline: 2.5rem;
}
figure.header-caption h3 {
  margin-top: auto;
  margin-bottom: 0.33em;
}
figure.header-caption figcaption {
  font-style: italic;
  color: #475569;
}

footer {
  background: #F8FAFC;
  padding-inline: 3%;
}
footer h2 {
  margin-bottom: 0.75em;
}
footer ol {
  padding: 0%;
}
footer ol li {
  list-style-position: inside;
}
footer div#copyright {
  box-sizing: border-box;
  width: 100%;
  text-align: right;
}/*# sourceMappingURL=style.css.map */