html {
    // max-width: 21cm;
    // max-height: 29.7cm;
    padding: 0%;
    margin: 0%;

    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-style: normal; 
    color: #0F172A;;
}

h1 {
    font-size: 2.5em;
    font-weight: 800;
    line-height: 120%;
}

h2 {
    font-size: 1.75em;
    font-weight: 700;
    line-height: 143%;
}

h3 {
    font-size: 1.33em;
    font-weight: 600;
}

body {
    box-sizing: border-box;
    width: 100%;
    // padding-inline: 7%;
    margin: 0%;
}

header {
    margin-top: 0%;
    box-sizing: border-box;
    width: 100%;
    padding-inline: 3%;

    background: #F8FAFC;

    h1 {
        margin-top: 0%;
        margin-bottom: 0.1em;
        text-align: start;
    }

    h2 {
        margin-top: 0.1em;
        margin-bottom: 0.75em;
        text-align: start;
    }

    section#about-me-contacts {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;

        // padding-inline: 7%;

        article#about-me {
            text-align: start;
        }

        ul#personal-info {
            padding: 0%;
            margin-top: 0%;
            text-align: start;

            li {
                list-style-type: none;
            }
        }
        

        ul#contacts {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(auto-fill, minmax(1em, 1fr));
            column-gap: 0.5em;
            row-gap: 0.5em;
    
            width: 50%;
            padding-inline-start: 0;
    
            li {
                list-style-position: inside;
                align-self: stretch;
                white-space: nowrap;
                // flex-grow: 0;
            }
    
            li#email {
                list-style-image: url(Images/iconEmail.svg);
            }
    
            li#adress {
                list-style-image: url(Images/iconAdress.svg);
            }
    
            li#phone {
                list-style-image: url(Images/iconPhone.svg);
            }
            
            li#inter-exchange {
                list-style-type: none;
                a {
                    display: inline-block;
                    height: 1em;
                    img {
                        position: relative;
                        top: 2px;
                        left: -1px;
                        height: 100%;
                        display: inline-block;
                        text-align: start;
                    }
                }
            }
        }
    }
}

h2.section-name {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.75em;
    font-weight: 600;
}

main > section {
    padding-inline: 3%;
    margin-block: 2em;
}

main {
    section#skills {
        section#skill-boxes {
            display: flex;
            flex-flow: row wrap;
            margin-top: 1em;
            padding-inline: 2.5rem;

            figure.skill {
                flex: 1 1 30em;
                box-sizing: border-box;
                margin: 0 1.5em 1.5em 0;
                padding: 0.25em;

                border: 2px solid #0F172A;
                border-radius: 0%;

                h3 {
                    width: max-content;
                    margin-top: 0em;
                    margin-bottom: 0.5em;
                    text-align: left;
                    text-decoration: underline;
                    font-weight: 700;
                }

                figcaption {
                    text-align: justify;
                    padding-left: 1em;
                }
            }
        }
    }

    section#work-experience {
        section.work {
            figure.header-caption {
                h3 {
                    font-weight: 600;
                }
            }   
            p {
                padding-inline: 2.5rem;
            }
        }
    }

    section#personal {
        section#info {
            padding-inline: 2.5rem;
            margin-top: 1em;
            ul {
                margin-top: 0%;
                padding: 0%;
            }
        }
    }
}

figure.header-caption {
    margin-inline: 0%;
    padding-inline: 2.5rem;

    h3 {
        margin-top: auto;
        margin-bottom: 0.33em;
    }

    figcaption {
        font-style: italic;
        color: #475569;
    }
}

footer {
    background: #F8FAFC;
    padding-inline: 3%;

    h2 {
        margin-bottom: 0.75em;
    }

    ol {
        padding: 0%;

        li {
            list-style-position: inside;
        }
    }

    div#copyright {
        box-sizing: border-box;
        width: 100%;

        text-align: right;
    }
}